
.box {
    height:350px;
    background-attachment: fixed;
    background-size: cover;
}

.section1{
    background-image: url('../../public/home/images/whyus/paymentServiceMIn.webp');
}
.section2{
    background-image: url('../../public/home/images/whyus/retailServiceMin.webp');
}
.section3{
    background-image: url('../../public/home/images/whyus/expertServiceMin.webp');
}
.section4{
    background-image: url('../../public/home/images/whyus/startupServiceMin.webp');
}