
.box {
    height:350px;
    background-attachment: fixed;
    background-size: cover;
}

.section1{
    background-image: url('../public/images//whyus/paymentHome3.jpg');
    /* height:350px;
    background:linear-gradient(to left,rgba(0,0,0,0.8),rgba(0,0,0,0),rgba(0,0,0,0)), url('../public/images/whyus/c4.jpg');
    background-attachment: fixed;
    background-size: cover;
    color:'#fff'; */
}
.section2{
    background-image: url('../public/images/whyus/technology.jpg');
}
.section3{
    background-image: url('../public/images/whyus/expert.jpg');
}
.section4{
    background-image: url('../public/images/whyus/development.jpg');
}